In [168]:
import pandas as pd
from pathlib import Path


file_path = Path('./Pitching.csv')
pitching_df = pd.read_csv(file_path)
pitching_df

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,2020,1,TOR,AL,1,0,3,1,0,...,0.0,0,0.0,0,47.0,1,2,0.0,0.0,0.0
48395,zimmebr02,2020,1,BAL,AL,0,0,2,1,0,...,0.0,2,2.0,0,31.0,1,6,0.0,0.0,1.0
48396,zimmejo02,2020,1,DET,AL,0,0,3,2,0,...,0.0,0,0.0,0,28.0,0,6,0.0,0.0,1.0
48397,zimmeky01,2020,1,KCA,AL,1,0,16,1,0,...,0.0,2,1.0,0,91.0,4,4,0.0,0.0,3.0
48398,zuberty01,2020,1,KCA,AL,1,2,23,0,0,...,1.0,1,1.0,0,99.0,8,11,1.0,1.0,3.0

In [169]:
pwd

'C:\\Users\\silas\\OneDrive\\Desktop\\Group Project'

In [170]:
#view column headers
pitching_df.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [171]:
#merge Hall of Fame into our pitching_df
file_path_HOF = Path('./HallOfFame.csv')
HOF_df = pd.read_csv(file_path_HOF)
HOF_df

,playerID,yearID,votedBy,ballots,needed,votes,inducted,category,needed_note
0,cobbty01,1936,BBWAA,226.0,170.0,222.0,Y,Player,NaN
1,ruthba01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
2,wagneho01,1936,BBWAA,226.0,170.0,215.0,Y,Player,NaN
3,mathech01,1936,BBWAA,226.0,170.0,205.0,Y,Player,NaN
4,johnswa01,1936,BBWAA,226.0,170.0,189.0,Y,Player,NaN
...,...,...,...,...,...,...,...,...,...
4186,lidgebr01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4187,millwke01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4188,zambrca01,2018,BBWAA,422.0,317.0,0.0,N,Player,NaN
4189,morrija02,2018,Veterans,NaN,NaN,NaN,Y,Player,NaN
4190,trammal01,2018,Veterans,NaN,NaN,NaN,Y,Player,NaN

In [172]:
# checking for null values
pitching_df.isnull().sum()

playerID        0
yearID          0
stint           0
teamID          0
lgID          132
W               0
L               0
G               0
GS              0
CG              0
SHO             0
SV              0
IPouts          0
H               0
ER              0
HR              0
BB              0
SO              0
BAOpp        4441
ERA            94
IBB         14578
WP              0
HBP           734
BK              0
BFP             3
GF              0
R               0
SH          19187
SF          19187
GIDP        20318
dtype: int64

In [173]:
# dropping SH, SF, GIDP, IBB
pitching_df = pitching_df.drop(columns=['SH', 'SF', 'IBB', 'GIDP', 'yearID' , 'stint']).copy()
pitching_df

,playerID,teamID,lgID,W,L,G,GS,CG,SHO,SV,...,BB,SO,BAOpp,ERA,WP,HBP,BK,BFP,GF,R
0,bechtge01,PH1,NaN,1,2,3,3,2,0,0,...,11,1,NaN,7.96,7,NaN,0,146.0,0,42
1,brainas01,WS3,NaN,12,15,30,30,30,0,0,...,37,13,NaN,4.50,7,NaN,0,1291.0,0,292
2,fergubo01,NY2,NaN,0,0,1,0,0,0,0,...,0,0,NaN,27.00,2,NaN,0,14.0,0,9
3,fishech01,RC1,NaN,4,16,24,24,22,1,0,...,31,15,NaN,4.35,20,NaN,0,1080.0,1,257
4,fleetfr01,NY2,NaN,0,1,1,1,1,0,0,...,3,0,NaN,10.00,0,NaN,0,57.0,0,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48394,zeuchtj01,TOR,AL,1,0,3,1,0,0,0,...,4,3,0.209,1.59,0,0.0,0,47.0,1,2
48395,zimmebr02,BAL,AL,0,0,2,1,0,0,0,...,2,7,0.222,7.71,2,2.0,0,31.0,1,6
48396,zimmejo02,DET,AL,0,0,3,2,0,0,0,...,2,6,0.423,7.94,0,0.0,0,28.0,0,6
48397,zimmeky01,KCA,AL,1,0,16,1,0,0,0,...,10,26,0.175,1.57,2,1.0,0,91.0,4,4
48398,zuberty01,KCA,AL,1,2,23,0,0,0,0,...,20,30,0.197,4.09,1,1.0,0,99.0,8,11

In [174]:
# Creating new database of players' cumulative career statistics
career_pitching_df = pitching_df.groupby(['playerID']).sum()
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BB,SO,BAOpp,ERA,WP,HBP,BK,BFP,GF,R
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,183,340,2.317,46.75,12,16.0,1,1475.0,141,169
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,457,641,3.261,45.41,22,7.0,3,4730.0,235,503
abadfe01,8,29,384,6,0,0,2,992,309,135,...,116,280,2.447,40.81,10,12.0,2,1399.0,97,143
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,192,161,0.000,28.07,18,26.0,0,2568.0,14,442
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0,0,0.000,4.50,1,0.0,0,12.0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,468,383,3.260,64.34,28,4.0,1,3476.0,90,418
zuberty01,1,2,23,0,0,0,0,66,15,10,...,20,30,0.197,4.09,1,1.0,0,99.0,8,11
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,114,210,1.143,17.21,16,4.0,0,911.0,35,80
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,203,223,2.760,41.28,10,27.0,1,2746.0,139,296
zychto01,7,3,70,1,0,0,1,218,57,22,...,34,80,0.655,8.40,2,8.0,1,309.0,14,24

In [175]:
# create IP
innings_pitched = career_pitching_df['IPouts'] / 3.0 
career_pitching_df['IP'] = innings_pitched

In [176]:
# creating the correct ERA, win%, Strikeout-to-walk Ratio (K/BB), walks plus hits per inning pitched (WHIP)
win_percentage = career_pitching_df['W'] / (career_pitching_df['W'] + career_pitching_df['L'])
strikout_walk_ratio = career_pitching_df['SO'] / career_pitching_df['BB']
walks_plus_hits_per_ip = career_pitching_df['BB'] + career_pitching_df['H']
ERA_corrected = career_pitching_df['ER'] / career_pitching_df['IP']

In [177]:
career_pitching_df['Win %'] = win_percentage
career_pitching_df['(K/BB)'] = strikout_walk_ratio
career_pitching_df['WHIP'] = walks_plus_hits_per_ip / career_pitching_df['IP']
career_pitching_df['ERA_corrected'] = ERA_corrected * 9
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,HBP,BK,BFP,GF,R,IP,Win %,(K/BB),WHIP,ERA_corrected
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,16.0,1,1475.0,141,169,337.000000,0.470588,1.857923,1.421365,4.272997
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,7.0,3,4730.0,235,503,1109.333333,0.523810,1.402626,1.390024,3.796875
abadfe01,8,29,384,6,0,0,2,992,309,135,...,12.0,2,1399.0,97,143,330.666667,0.216216,2.413793,1.285282,3.674395
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,26.0,0,2568.0,14,442,568.000000,0.354839,0.838542,1.545775,4.515845
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0.0,0,12.0,1,3,2.000000,NaN,NaN,3.000000,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,4.0,1,3476.0,90,418,786.000000,0.505882,0.818376,1.571247,4.282443
zuberty01,1,2,23,0,0,0,0,66,15,10,...,1.0,0,99.0,8,11,22.000000,0.333333,1.500000,1.590909,4.090909
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,4.0,0,911.0,35,80,209.666667,0.520000,1.842105,1.349762,3.047695
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,27.0,1,2746.0,139,296,642.333333,0.470588,1.098522,1.343539,3.544888
zychto01,7,3,70,1,0,0,1,218,57,22,...,8.0,1,309.0,14,24,72.666667,0.700000,2.352941,1.252294,2.724771

In [178]:
# Filling remaining NaN figures as 0
career_pitching_df = career_pitching_df.fillna(0)
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,HBP,BK,BFP,GF,R,IP,Win %,(K/BB),WHIP,ERA_corrected
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,16.0,1,1475.0,141,169,337.000000,0.470588,1.857923,1.421365,4.272997
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,7.0,3,4730.0,235,503,1109.333333,0.523810,1.402626,1.390024,3.796875
abadfe01,8,29,384,6,0,0,2,992,309,135,...,12.0,2,1399.0,97,143,330.666667,0.216216,2.413793,1.285282,3.674395
abbeybe01,22,40,79,65,52,0,1,1704,686,285,...,26.0,0,2568.0,14,442,568.000000,0.354839,0.838542,1.545775,4.515845
abbeych01,0,0,1,0,0,0,0,6,6,1,...,0.0,0,12.0,1,3,2.000000,0.000000,0.000000,3.000000,4.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,4.0,1,3476.0,90,418,786.000000,0.505882,0.818376,1.571247,4.282443
zuberty01,1,2,23,0,0,0,0,66,15,10,...,1.0,0,99.0,8,11,22.000000,0.333333,1.500000,1.590909,4.090909
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,4.0,0,911.0,35,80,209.666667,0.520000,1.842105,1.349762,3.047695
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,27.0,1,2746.0,139,296,642.333333,0.470588,1.098522,1.343539,3.544888
zychto01,7,3,70,1,0,0,1,218,57,22,...,8.0,1,309.0,14,24,72.666667,0.700000,2.352941,1.252294,2.724771

In [179]:
# filtering career_pitching_df by SO 
career_pitching_df = career_pitching_df[career_pitching_df.SO>200]
career_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,HBP,BK,BFP,GF,R,IP,Win %,(K/BB),WHIP,ERA_corrected
playerID,,,,,,,,,,,,,,,,,,,,,
aardsda01,16,18,331,0,0,0,69,1011,296,160,...,16.0,1,1475.0,141,169,337.000000,0.470588,1.857923,1.421365,4.272997
aasedo01,66,60,448,91,22,5,82,3328,1085,468,...,7.0,3,4730.0,235,503,1109.333333,0.523810,1.402626,1.390024,3.796875
abadfe01,8,29,384,6,0,0,2,992,309,135,...,12.0,2,1399.0,97,143,330.666667,0.216216,2.413793,1.285282,3.674395
abbotgl01,62,83,248,206,37,5,0,3858,1405,627,...,32.0,5,5508.0,13,707,1286.000000,0.427586,1.375000,1.366252,4.388025
abbotji01,87,108,263,254,31,6,0,5022,1779,791,...,32.0,11,7211.0,5,880,1674.000000,0.446154,1.432258,1.433094,4.252688
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zitoba01,165,143,433,421,12,5,0,7730,2381,1157,...,97.0,8,11001.0,9,1254,2576.666667,0.535714,1.771617,1.336999,4.041268
zoldasa01,43,53,250,93,30,5,8,2788,956,366,...,3.0,4,3946.0,78,423,929.333333,0.447917,0.687708,1.352582,3.544476
zuberbi01,43,42,224,65,23,3,6,2358,767,374,...,4.0,1,3476.0,90,418,786.000000,0.505882,0.818376,1.571247,4.282443
zumayjo01,13,12,171,0,0,0,5,629,169,71,...,4.0,0,911.0,35,80,209.666667,0.520000,1.842105,1.349762,3.047695
zuverge01,32,36,265,31,9,2,40,1927,660,253,...,27.0,1,2746.0,139,296,642.333333,0.470588,1.098522,1.343539,3.544888

In [180]:
# add inducted Y or N column from HOF_df and remove unneeded columns
hall_pitching_df = career_pitching_df.merge(HOF_df, how='inner', on='playerID')
hall_pitching_df = hall_pitching_df.drop(['yearID', 'votedBy', 'ballots', 'needed', 'votes', 'category', 'needed_note'], axis=1)
hall_pitching_df

,playerID,W,L,G,GS,CG,SHO,SV,IPouts,H,...,BK,BFP,GF,R,IP,Win %,(K/BB),WHIP,ERA_corrected,inducted
0,abbotji01,87,108,263,254,31,6,0,5022,1779,...,11,7211.0,5,880,1674.000000,0.446154,1.432258,1.433094,4.252688,N
1,adamsba01,194,140,482,355,206,44,15,8986,2841,...,2,11947.0,89,1129,2995.333333,0.580838,2.409302,1.092032,2.755286,N
2,adamsba01,194,140,482,355,206,44,15,8986,2841,...,2,11947.0,89,1129,2995.333333,0.580838,2.409302,1.092032,2.755286,N
3,adamsba01,194,140,482,355,206,44,15,8986,2841,...,2,11947.0,89,1129,2995.333333,0.580838,2.409302,1.092032,2.755286,N
4,adamsba01,194,140,482,355,206,44,15,8986,2841,...,2,11947.0,89,1129,2995.333333,0.580838,2.409302,1.092032,2.755286,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1335,zachato01,186,191,533,409,186,24,22,9379,3580,...,15,13551.0,84,1552,3126.333333,0.493369,0.787746,1.437467,3.728009,N
1336,zachato01,186,191,533,409,186,24,22,9379,3580,...,15,13551.0,84,1552,3126.333333,0.493369,0.787746,1.437467,3.728009,N
1337,zachrpa01,69,67,293,154,29,7,3,3532,1147,...,10,5050.0,44,529,1177.333333,0.507353,1.351515,1.394677,3.524066,N
1338,zahnge01,111,109,304,270,79,20,1,5547,1978,...,4,7798.0,13,889,1849.000000,0.504545,1.340304,1.354246,3.743104,N
1339,zambrca01,132,91,354,302,10,5,0,5877,1709,...,5,8389.0,11,879,1959.000000,0.591928,1.822940,1.330781,3.661562,N

In [181]:
# view updated columns
hall_pitching_df.columns.tolist()

['playerID',
 'W',
 'L',
 'G',
 'GS',
 'CG',
 'SHO',
 'SV',
 'IPouts',
 'H',
 'ER',
 'HR',
 'BB',
 'SO',
 'BAOpp',
 'ERA',
 'WP',
 'HBP',
 'BK',
 'BFP',
 'GF',
 'R',
 'IP',
 'Win %',
 '(K/BB)',
 'WHIP',
 'ERA_corrected',
 'inducted']

In [182]:
# Dropping duplicate rows of multiple HOF vote receivers, keeping last one for Y votes
hall_pitching_df = hall_pitching_df.drop_duplicates(subset=['playerID'], keep='last').set_index('playerID')
hall_pitching_df

,W,L,G,GS,CG,SHO,SV,IPouts,H,ER,...,BK,BFP,GF,R,IP,Win %,(K/BB),WHIP,ERA_corrected,inducted
playerID,,,,,,,,,,,,,,,,,,,,,
abbotji01,87,108,263,254,31,6,0,5022,1779,791,...,11,7211.0,5,880,1674.000000,0.446154,1.432258,1.433094,4.252688,N
adamsba01,194,140,482,355,206,44,15,8986,2841,917,...,2,11947.0,89,1129,2995.333333,0.580838,2.409302,1.092032,2.755286,N
aguilri01,86,81,732,89,10,0,318,3874,1233,512,...,10,5391.0,557,568,1291.333333,0.514970,2.934473,1.226639,3.568405,N
akerja01,47,45,495,0,0,0,123,2238,679,272,...,0,3144.0,321,312,746.000000,0.510870,1.474453,1.277480,3.281501,N
alexado01,194,174,561,464,98,18,3,10103,3376,1406,...,10,14162.0,56,1541,3367.666667,0.527174,1.562372,1.292883,3.757498,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
youngcy01,511,315,906,815,749,76,18,22068,7092,2147,...,3,29579.0,84,3167,7356.000000,0.618644,2.303205,1.129554,2.626835,Y
zachato01,186,191,533,409,186,24,22,9379,3580,1295,...,15,13551.0,84,1552,3126.333333,0.493369,0.787746,1.437467,3.728009,N
zachrpa01,69,67,293,154,29,7,3,3532,1147,461,...,10,5050.0,44,529,1177.333333,0.507353,1.351515,1.394677,3.524066,N
zahnge01,111,109,304,270,79,20,1,5547,1978,769,...,4,7798.0,13,889,1849.000000,0.504545,1.340304,1.354246,3.743104,N
zambrca01,132,91,354,302,10,5,0,5877,1709,797,...,5,8389.0,11,879,1959.000000,0.591928,1.822940,1.330781,3.661562,N

In [183]:
hall_pitching_df.to_csv('./hall_pitching.csv')
career_pitching_df.to_csv('./career_pitching.csv')