In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Import CSV
file_path = Path('hall_pitching.csv')
hall_pitching_df = pd.read_csv(file_path)
hall_pitching_df

,playerID,W,L,G,GS,CG,SHO,SV,H,ER,...,SO,WP,HBP,R,IP,Win Percentage,Strikeout to Walk,WHIP,ERA_corrected,inducted
0,aardsda01,16.0,18.0,331.0,0.0,0.0,0.0,69.0,296.0,160.0,...,340.0,12.0,16.0,169.0,337.000000,0.470588,1.857923,1.421365,4.272997,N
1,aasedo01,66.0,60.0,448.0,91.0,22.0,5.0,82.0,1085.0,468.0,...,641.0,22.0,7.0,503.0,1109.333333,0.523810,1.402626,1.390024,3.796875,N
2,abadfe01,8.0,29.0,384.0,6.0,0.0,0.0,2.0,309.0,135.0,...,280.0,10.0,12.0,143.0,330.666667,0.216216,2.413793,1.285282,3.674395,N
3,abbeybe01,22.0,40.0,79.0,65.0,52.0,0.0,1.0,686.0,285.0,...,161.0,18.0,26.0,442.0,568.000000,0.354839,0.838542,1.545775,4.515845,N
4,abbotda01,0.0,2.0,3.0,1.0,1.0,0.0,1.0,19.0,9.0,...,1.0,3.0,1.0,14.0,13.000000,0.000000,0.125000,2.076923,6.230769,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,zuberbi01,43.0,42.0,224.0,65.0,23.0,3.0,6.0,767.0,374.0,...,383.0,28.0,4.0,418.0,786.000000,0.505882,0.818376,1.571247,4.282443,N
9131,zuberty01,1.0,2.0,23.0,0.0,0.0,0.0,0.0,15.0,10.0,...,30.0,1.0,1.0,11.0,22.000000,0.333333,1.500000,1.590909,4.090909,N
9132,zumayjo01,13.0,12.0,171.0,0.0,0.0,0.0,5.0,169.0,71.0,...,210.0,16.0,4.0,80.0,209.666667,0.520000,1.842105,1.349762,3.047695,N
9133,zuverge01,32.0,36.0,265.0,31.0,9.0,2.0,40.0,660.0,253.0,...,223.0,10.0,27.0,296.0,642.333333,0.470588,1.098522,1.343539,3.544888,N
9134,zychto01,7.0,3.0,70.0,1.0,0.0,0.0,1.0,57.0,22.0,...,80.0,2.0,8.0,24.0,72.666667,0.700000,2.352941,1.252294,2.724771,N

In [3]:
# Import CSV
file_path = Path('Player_Names.csv')
Player_Names_df = pd.read_csv(file_path)
Player_Names_df

       Unnamed: 0   playerID First Name Last Name
0               0  aardsda01      David   Aardsma
1               1  aaronha01       Hank     Aaron
2               2  aaronto01     Tommie     Aaron
3               3   aasedo01        Don      Aase
4               4   abadan01       Andy      Abad
...           ...        ...        ...       ...
20088       20088   zupofr01      Frank      Zupo
20089       20089  zuvelpa01       Paul   Zuvella
20090       20090  zuverge01     George  Zuverink
20091       20091  zwilldu01      Dutch  Zwilling
20092       20092   zychto01       Tony      Zych

[20093 rows x 4 columns]

In [4]:
Player_Names_df.drop(columns = ['Unnamed: 0'])

        playerID First Name Last Name
0      aardsda01      David   Aardsma
1      aaronha01       Hank     Aaron
2      aaronto01     Tommie     Aaron
3       aasedo01        Don      Aase
4       abadan01       Andy      Abad
...          ...        ...       ...
20088   zupofr01      Frank      Zupo
20089  zuvelpa01       Paul   Zuvella
20090  zuverge01     George  Zuverink
20091  zwilldu01      Dutch  Zwilling
20092   zychto01       Tony      Zych

[20093 rows x 3 columns]

In [5]:
Names_Pitching_df = Player_Names_df.merge(hall_pitching_df, left_on = 'playerID', right_on = 'playerID')

In [6]:
Names_Pitching_df

,Unnamed: 0,playerID,First Name,Last Name,W,L,G,GS,CG,SHO,...,SO,WP,HBP,R,IP,Win Percentage,Strikeout to Walk,WHIP,ERA_corrected,inducted
0,0,aardsda01,David,Aardsma,16.0,18.0,331.0,0.0,0.0,0.0,...,340.0,12.0,16.0,169.0,337.000000,0.470588,1.857923,1.421365,4.272997,N
1,3,aasedo01,Don,Aase,66.0,60.0,448.0,91.0,22.0,5.0,...,641.0,22.0,7.0,503.0,1109.333333,0.523810,1.402626,1.390024,3.796875,N
2,5,abadfe01,Fernando,Abad,8.0,29.0,384.0,6.0,0.0,0.0,...,280.0,10.0,12.0,143.0,330.666667,0.216216,2.413793,1.285282,3.674395,N
3,8,abbeybe01,Bert,Abbey,22.0,40.0,79.0,65.0,52.0,0.0,...,161.0,18.0,26.0,442.0,568.000000,0.354839,0.838542,1.545775,4.515845,N
4,10,abbotda01,Dan,Abbott,0.0,2.0,3.0,1.0,1.0,0.0,...,1.0,3.0,1.0,14.0,13.000000,0.000000,0.125000,2.076923,6.230769,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,20081,zuberbi01,Bill,Zuber,43.0,42.0,224.0,65.0,23.0,3.0,...,383.0,28.0,4.0,418.0,786.000000,0.505882,0.818376,1.571247,4.282443,N
9131,20083,zuberty01,Tyler,Zuber,1.0,2.0,23.0,0.0,0.0,0.0,...,30.0,1.0,1.0,11.0,22.000000,0.333333,1.500000,1.590909,4.090909,N
9132,20085,zumayjo01,Joel,Zumaya,13.0,12.0,171.0,0.0,0.0,0.0,...,210.0,16.0,4.0,80.0,209.666667,0.520000,1.842105,1.349762,3.047695,N
9133,20090,zuverge01,George,Zuverink,32.0,36.0,265.0,31.0,9.0,2.0,...,223.0,10.0,27.0,296.0,642.333333,0.470588,1.098522,1.343539,3.544888,N
9134,20092,zychto01,Tony,Zych,7.0,3.0,70.0,1.0,0.0,0.0,...,80.0,2.0,8.0,24.0,72.666667,0.700000,2.352941,1.252294,2.724771,N

In [7]:
Names_Pitching_df = Names_Pitching_df.drop(columns = ["Unnamed: 0", "playerID", "inducted"])

In [8]:
Names_Pitching_df

,First Name,Last Name,W,L,G,GS,CG,SHO,SV,H,...,BB,SO,WP,HBP,R,IP,Win Percentage,Strikeout to Walk,WHIP,ERA_corrected
0,David,Aardsma,16.0,18.0,331.0,0.0,0.0,0.0,69.0,296.0,...,183.0,340.0,12.0,16.0,169.0,337.000000,0.470588,1.857923,1.421365,4.272997
1,Don,Aase,66.0,60.0,448.0,91.0,22.0,5.0,82.0,1085.0,...,457.0,641.0,22.0,7.0,503.0,1109.333333,0.523810,1.402626,1.390024,3.796875
2,Fernando,Abad,8.0,29.0,384.0,6.0,0.0,0.0,2.0,309.0,...,116.0,280.0,10.0,12.0,143.0,330.666667,0.216216,2.413793,1.285282,3.674395
3,Bert,Abbey,22.0,40.0,79.0,65.0,52.0,0.0,1.0,686.0,...,192.0,161.0,18.0,26.0,442.0,568.000000,0.354839,0.838542,1.545775,4.515845
4,Dan,Abbott,0.0,2.0,3.0,1.0,1.0,0.0,1.0,19.0,...,8.0,1.0,3.0,1.0,14.0,13.000000,0.000000,0.125000,2.076923,6.230769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9130,Bill,Zuber,43.0,42.0,224.0,65.0,23.0,3.0,6.0,767.0,...,468.0,383.0,28.0,4.0,418.0,786.000000,0.505882,0.818376,1.571247,4.282443
9131,Tyler,Zuber,1.0,2.0,23.0,0.0,0.0,0.0,0.0,15.0,...,20.0,30.0,1.0,1.0,11.0,22.000000,0.333333,1.500000,1.590909,4.090909
9132,Joel,Zumaya,13.0,12.0,171.0,0.0,0.0,0.0,5.0,169.0,...,114.0,210.0,16.0,4.0,80.0,209.666667,0.520000,1.842105,1.349762,3.047695
9133,George,Zuverink,32.0,36.0,265.0,31.0,9.0,2.0,40.0,660.0,...,203.0,223.0,10.0,27.0,296.0,642.333333,0.470588,1.098522,1.343539,3.544888
9134,Tony,Zych,7.0,3.0,70.0,1.0,0.0,0.0,1.0,57.0,...,34.0,80.0,2.0,8.0,24.0,72.666667,0.700000,2.352941,1.252294,2.724771

In [9]:
Names_Pitching_df.to_json('Names_Pitching.json', orient = 'records')